<?xml version="1.0" encoding="utf-8"?>
<jnlp spec="$jnlpspec" codebase="$property.deployurl">
 <information>
  <title>${property.bcprov.fullname}</title>
  <vendor>Sun Microsystems, Inc.</vendor>
  <description>BouncyCastle cryptography library</description>
  <homepage href="http://bouncycastle.org/"/>
  <offline-allowed/>
 </information>
 <security>
  <all-permissions/>
 </security>
 <resources>
  <jar href="${property.bcprov.fullname}.jar"/>
 </resources>
 <component-desc/>
</jnlp>
