<?xml version="1.0" encoding="utf-8"?>
<jnlp spec="${jnlpspec}" href="$$name" codebase="$$codebase">
 <information>
  <title>jGridstart ${project.Version}</title>
  <vendor>${informationVendor}</vendor>
  <homepage href="${informationHomepage}"/>
  <description>Setup your computer to work with the grid</description>
 </information>
 <security>
  <all-permissions/>
 </security>
 <resources>
  <!-- program defaults, customize these for your site (properties are prefixed
       with "jnlp." to avoid the need for a signed jnlp) -->
  <property name="jnlp.jgridstart.defaults.country" value="NL"/>
  <property name="jnlp.jgridstart.defaults.level" value="medium"/>
  <!-- end of program defaults -->
  <j2se href="http://java.sun.com/products/autodl/j2se" version="${j2seVersion}+"/>
  $dependencies
 </resources>
 <application-desc main-class="${mainClass}"/>
</jnlp>
