/*
 * Common markup (used in all pages)
 */
h1 {
	font-weight: normal;
	font-size: 120%;
}

th {
	font-weight: normal;
	text-align: left;
	white-space: nowrap;
}

/*
 * Semantic markup: status
 */
.topinfo-ok {
	color: #006600;
	font-weight: bold;
}
.topinfo-bad {
	color: #660000;
	font-weight: bold;
}
.topinfo-message {
	font-size: 90%;
	font-style: italic;
	margin-top: -4ex;
	padding-top: 0;
}

.valid {
	color: green;
	font-size: 110%;
	font-weight: bold;
}
.invalid {
	color: red;
	font-size: 110%;
	font-weight: bold;
}
.pending {
	color: #666666;
}

/*
 * Semantic markup: activity bullet list
 */
.activitylist {
	margin-left: 1em;
	padding-left: 0;
}
.activitylist li {
	line-height: 1.5;
	list-style-type: none;
}
.activitylist li:before {
	content: 'o';
	display: inline-block;
	width: 0.6em;
}
.activitylist li.done-false {
	color: black;
}
.activitylist li.done-true:before {
	content: '\2713';
	display: inline-block;
	width: 0.6em;
}
.activitylist li.done-true {
	color: green;
}

/*
 * certificate_info
 */
.infopane {
	background: white;
	color: black;
}

td.location {
	font-family: monospace;
	font-size: 80%;
}
 
.showdetails a {
	color: black;
	text-decoration: none;
	border-bottom: 1px dotted gray;
}
.showdetails a.shown-true:before {
	content: "v ";
}
.showdetails a.shown-false:before {
	content: "> ";
}
