/*
 * CSS Stylesheet for registration form
 */
 
 /* no user-interface elements in printed page */
 @media print {
   .ui { display: none; }
   body {
     margin: 0;
     padding: 0;
   }
}
@page {
  size: A4 portrait;
}

.form {
	border: 1px solid black;
	font-family: sans-serif;
	background: white;
	color: black;
	font-size: 10pt;
}
.form > * {
	padding-left: 0.8em;
	padding-right: 0.8em;
}
.form h1 {
	text-align: center;
	font-size: 14pt;
	margin-top: 0.9em;
	margin-bottom: 0.7em;
}
.form table {
	table-layout: fixed; /* equal-width columns */
}
.form .comment {
	font-style: italic;
	font-size: 6pt;
	color: #888888;
}
.form .fillin, .form .fillin-fixed {
	font-family: monospace;
	font-size: 11pt;
	font-weight: bold;
}
.form .fillin {
	min-height: 1.5em; /* ex seems to have problems :( */
}
.form .nowrap {
	white-space: nowrap;
	overflow: hidden;
}
.form .center {
	text-align: center;
}

/*
 * Reserved area
 */
.form .reserved {
	padding: 0 1ex;
	background: #eeeeee;
	border: 1px solid black;
}
.form > table.reserved {
	border-left: none;
	border-right: none;
}
.form table.reserved {
	width: 100%;
}
.form .reserved .title {
	font-style: italic;
	font-weight: normal;
	font-size: 85%;
}
.form .reserved .clear {
	background: white;
	color: black;
}
.form span.check {
	margin-right: 1.5em;
}
.form .check:before {
	/* black square as checkbox that also works in print mode */
	content: ' ';
	font-size: 70%;
	padding: 0 0.7em 0 0.7em;
	margin: 3px 6px 3px 3px;
	vertical-align: middle;
	border: 1px solid black;
}
.form .check {
	white-space: nowrap;
}

/*
 * User data & contact information
 */
.form .userdata {
	margin: 1em 0.8em;
}
.form .userdata > table {
	width: 100%;
	border-spacing: 0.4em;
}
.form .userdata td, .form .userdata th {
	vertical-align: top;
}
.form .userdata .userinfo table {
	border: 2px solid black;
	width: 100%;
}
.form .userdata .userinfo td, .form .userdata .userinfo th {
	padding: 0.05ex 0.3em 0.6ex 0.3em;
	border-bottom: 1px solid gray;
	font-size: 10pt;
}

.form .userdata .ra {
	padding-left: 1em;
	vertical-align: bottom;
}
.form .userdata .ra address {
	padding: 1em;
	white-space: pre-line;
	font-size: 11pt; 
	font-style: normal;
}
.form h2 {
	margin-top: 2ex;
	margin-bottom: 1ex;
	font-size: 12pt;
	font-weight: normal;
}
.form .pop .fillin {
	font-size: 11pt;
	letter-spacing: 0.3em; /* unsupported by flying saucer :( */
	border: 2px solid black;
	padding: 0.6em 0.6em 0.2em 0.6em;
	margin: 0 0.5em 0 0.5em;
}

/*
 * Signature
 */
.form .signature-box, .form .signature-info {
	font-weight: bold;
	border: 2px solid black;
}

/*
 * RA reserved area
 */
.form .reserved .ra {
	line-height: 1.5;
}
.form .reserved .ra .fillin {
	font-weight: normal;
	font-style: italic;
	margin-top: 0.2em;
	border: 1px solid #aaaaaa;
	color: #888888;
	padding: 0;
	font-size: 7pt;
	height: 14pt;
	vertical-align: top;
	text-align: right;
	display: inline-block;
	width: 20em;
}
.form .reserved .notes-box, .form .reserved .signature-box {
	font-style: italic;
	height: 10ex; /* not supported by flying saucer, so use <br/>s as well */
	vertical-align: top;
	font-weight: normal;
}
.form .reserved .signature-box {
	border: 1px solid black;
}
